<section class="list-wrap">
  {{#if loggedIn}}
    <h2 class="current-total">{{total}}</h2>
    <ul class="transaction-list">
      {{#each rows}}
        <li>
          <span class="li-name">{{name}}</span>
          -
          <span class="li-date">{{formatDate transaction_date}}</span>
          -
          <span class="li-value">{{transaction_value}}</span>
        </li>
      {{/each}}
    </ul>
    <span hidden>loggedIn</span> <!-- testing -->
  {{else}}
    <div class="padlock fa fa-lock" style="font-size:350px">
      <a href="/login" class="login-button">LOGIN</a>
    </div>
    <span hidden>notLoggedIn</span> <!-- testing -->
  {{/if}}
</section>
